<<<<<<< HEAD
.certificate-container {
  width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border: 1px solid #ccc;
  font-family: "Times New Roman", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: Arial;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
}

.header .col {
  width: 45%;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
}

.title-section .logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.title-section h2 {
  border: 2px solid black;
  padding: 18px 40px;
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

.content {
  margin-top: 20px;
  font-size: 12px;
}

.line {
  text-align: center;
  margin: 15px 0;
  font-size: 20px;
}
.line-1{
  text-align:left;
  margin: 15px 0;
  font-size: 20px;
}

.nina-number {
  text-align: center;
  margin: 15px 0;
  font-size: 27px;
  font-weight: bold;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

.info-table td {
  padding: 3px 4px;
  vertical-align: top;
  font-size: 11px;
}

.info-table td:first-child {
  width: 180px;
  font-size: 17px;
  font-weight: normal;
}

.info-table td:last-child {
  font-size: 15px;
  font-weight: bold;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.qr {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.qr-code-canvas {
  border: none;
}

.signature {
  text-align: center;
    font-size: 18px;
}

.note {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  opacity: 0.8;
  font-style: italic;
}

/* Styles pour l'impression */
@media print {
  .certificate-container {
    width: 100%;
    border: none;
    padding: 15mm;
    margin: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
}

/* Styles pour la génération PDF */
@page {
  size: A4;
  margin: 15mm;
}

.PL-1,.PL-3   {
  padding: 14px;
}

.PR-2{
  padding-bottom: 12px;
}

.PR-4   {
  padding-top: 12px;
=======
.certificate-container {
  width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border: 1px solid #ccc;
  font-family: "Times New Roman", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: Arial;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
}

.header .col {
  width: 45%;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
}

.title-section .logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.title-section h2 {
  border: 2px solid black;
  padding: 18px 40px;
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

.content {
  margin-top: 20px;
  font-size: 12px;
}

.line {
  text-align: center;
  margin: 15px 0;
  font-size: 20px;
}
.line-1{
  text-align:left;
  margin: 15px 0;
  font-size: 20px;
}

.nina-number {
  text-align: center;
  margin: 15px 0;
  font-size: 27px;
  font-weight: bold;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

.info-table td {
  padding: 3px 4px;
  vertical-align: top;
  font-size: 11px;
}

.info-table td:first-child {
  width: 180px;
  font-size: 17px;
  font-weight: normal;
}

.info-table td:last-child {
  font-size: 15px;
  font-weight: bold;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.qr {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.qr-code-canvas {
  border: none;
}

.signature {
  text-align: center;
    font-size: 18px;
}

.note {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  opacity: 0.8;
  font-style: italic;
}

/* Styles pour l'impression */
@media print {
  .certificate-container {
    width: 100%;
    border: none;
    padding: 15mm;
    margin: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
}

/* Styles pour la génération PDF */
@page {
  size: A4;
  margin: 15mm;
}

.PL-1,.PL-3   {
  padding: 14px;
}

.PR-2{
  padding-bottom: 12px;
}

.PR-4   {
  padding-top: 12px;
>>>>>>> 060c2b6fa (WIP: local changes before rebase)
}